final/webConnection/resources/CoreServiceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://v4.core.coexprivate.api.shopatron.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:impl="http://v4.core.coexprivate.api.shopatron.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://v4.core.coexprivate.api.shopatron.com" xmlns="http://www.w3.org/2001/XMLSchema">
			<!-- header -->
			<!-- function -->
			<element name="createFulfiller">
				<complexType>
					<sequence>
						<element name="request" type="impl:FulfillerRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="createFulfillerResponse">
				<complexType>
					<sequence>
						<element name="createFulfillerReturn" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>
			<element name="getFulfillerStatus">
				<complexType>
					<sequence>
						<element name="fulfillerID" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>
			<element name="getFulfillerStatusResponse">
				<complexType>
					<sequence>
						<element name="getFulfillerStatusReturn" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>
			<element name="createFulfillmentLocation">
				<complexType>
					<sequence>
						<element name="request" type="impl:FulfillmentLocation"/>
					</sequence>
				</complexType>
			</element>
			<element name="createFulfillmentLocationResponse">
				<complexType>
					<sequence>
						<element name="createFulfillmentLocationReturn" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>
			<element name="getFulfillmentLocations">
				<complexType>
					<sequence>
						<element name="request" type="impl:OrderRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="getFulfillmentLocationsResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="getFulfillmentLocationsReturn" type="impl:AssignmentResponse"/>
					</sequence>
				</complexType>
			</element>
			<element name="getFulfillmentLocationTypes">
				<complexType/>
			</element>
			<element name="getFulfillmentLocationTypesResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="getFulfillmentLocationTypesReturn" type="impl:FulfillmentLocationType"/>
					</sequence>
				</complexType>
			</element>
			<element name="allocateInventory">
				<complexType>
					<sequence>
						<element name="request" type="impl:UpdateRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="allocateInventoryResponse">
				<complexType/>
			</element>
			<element name="deallocateInventory">
				<complexType>
					<sequence>
						<element name="request" type="impl:UpdateRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="deallocateInventoryResponse">
				<complexType/>
			</element>
			<element name="fulfillInventory">
				<complexType>
					<sequence>
						<element name="request" type="impl:UpdateRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="fulfillInventoryResponse">
				<complexType/>
			</element>
			<element name="createBin">
				<complexType>
					<sequence>
						<element name="request" type="impl:Bin"/>
					</sequence>
				</complexType>
			</element>
			<element name="createBinResponse">
				<complexType>
					<sequence>
						<element name="createBinReturn" type="xsd:positiveInteger"/>
					</sequence>
				</complexType>
			</element>
			<element name="getBins">
				<complexType>
					<sequence>
						<element name="request" type="impl:BinRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="getBinsResponse">
				<complexType>
					<sequence>
						<element name="getBinsReturn" type="impl:BinResponse"/>
					</sequence>
				</complexType>
			</element>
			<element name="getBinTypes">
				<complexType/>
			</element>
			<element name="getBinTypesResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="getBinTypesReturn" type="impl:BinType"/>
					</sequence>
				</complexType>
			</element>
			<element name="getBinStatuses">
				<complexType/>
			</element>
			<element name="getBinStatusesResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" name="getBinStatusesReturn" type="impl:BinStatus"/>
					</sequence>
				</complexType>
			</element>
			<element name="getInventory">
				<complexType>
					<sequence>
						<element name="request" type="impl:InventoryRequest"/>
					</sequence>
				</complexType>
			</element>
			<element name="getInventoryResponse">
				<complexType>
					<sequence>
						<element maxOccurs="unbounded" minOccurs="0" name="getInventoryReturn" type="impl:InventoryResponse"/>
					</sequence>
				</complexType>
			</element>
			<!-- Models -->
			<complexType name="AssignmentResponse">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="ExternalLocationID" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="Bin">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="BinID" nillable="true" type="xsd:positiveInteger"/>
					<element name="ExternalLocationID" type="xsd:string"/>
					<element name="BinType" type="xsd:string"/>
					<element name="BinStatus" type="xsd:string"/>
					<element name="Name" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="BinRequest">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="ExternalLocationID" type="xsd:string"/>
					<element name="SearchTerm" nillable="true" type="xsd:string"/>
					<element name="NumResults" nillable="true" type="xsd:positiveInteger"/>
					<element name="ResultsStart" nillable="true" type="xsd:positiveInteger"/> <!-- pagination -->
				</sequence>
			</complexType>
			<complexType name="BinResponse">
				<sequence>
					<element name="Bins" nillable="false" type="impl:ArrayOf_impl_Bin"/>
					<element name="ResultCount" nillable="false" type="xsd:positiveInteger"/>
				</sequence>
			</complexType>
			<complexType name="BinType">
				<sequence>
					<element name="BinType" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="BinStatus">
				<sequence>
					<element name="BinStatus" nillable="false" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="FulfillerRequest">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="Name" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="FulfillmentLocation">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="RetailerLocationID" nillable="true" type="xsd:positiveInteger"/> <!-- internal location ID -->
					<element name="ExternalLocationID" nillable="true" type="xsd:string"/>
					<element name="LocationName" nillable="true" type="xsd:string"/>
					<element name="LocationType" type="xsd:string"/> <!-- see FulfillmentLocationIdentifierType -->
					<element name="Latitude" type="xsd:double"/>
					<element name="Longitude" type="xsd:double"/>
					<element name="Status">
						<simpleType>
							<restriction base="xsd:int">
								<enumeration value="1">
									<annotation>
										<documentation>Location Active</documentation>
									</annotation>
								</enumeration>
								<enumeration value="2">
									<annotation>
										<documentation>Location Not Active</documentation>
									</annotation>
								</enumeration>
							</restriction>
						</simpleType>
					</element>
					<element name="CountryCode" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="FulfillmentLocationCatalog">
				<sequence>
					<element name="ManufacturerCatalog" nillable="true" type="impl:ManufacturerCatalog"/>
					<element name="ExternalLocationID" type="xsd:string"/>
				</sequence>
			</complexType>
			<simpleType name="FulfillmentLocationIdentifierType"> <!-- not used but documents FulfillmentLocation > Type -->
				<annotation>
					<documentation/>
				</annotation>
				<restriction base="xsd:string">
					<enumeration value="FULFILLER"/>
					<enumeration value="RETAILER"/>
					<enumeration value="MANUFACTURER"/>
				</restriction>
			</simpleType>
			<complexType name="FulfillmentLocationType">
				<sequence>
					<element name="LocationType" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="InventorySearchRequest">
				<sequence>
					<element name="FulfillerIDs" type="impl:ArrayOf_xsd_FulfillerID"/>
					<element name="LocationID" nillable="true" type="xsd:positiveInteger"/> <!-- internal location ID -->
					<element name="PostalCode" nillable="true" type="xsd:string"/>
					<element name="PartNumber" type="xsd:string"/> <!-- SKU, identical to the now removed LocationUPC -->
					<element name="UPC" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="InventorySearchResponse">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="ExternalLocationID" type="xsd:string"/>
					<element name="LocationName" type="xsd:string"/>
					<element name="PartNumber" type="xsd:string"/>
					<element name="UPC" type="xsd:string"/>
					<element name="Available" type="xsd:int"/>
					<element name="OnHand" type="xsd:int"/>
					<element name="Allocated" type="xsd:int"/>
					<element name="Distance" type="xsd:double"/>
				</sequence>
			</complexType>
			<complexType name="ItemQuantity">
				<sequence>
					<element name="PartNumber" type="xsd:string"/>
					<element name="UPC" type="xsd:string"/>
					<element name="Quantity" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="ManufacturerCatalog">
				<sequence>
					<element name="ManufacturerID" type="xsd:positiveInteger"/>
					<element name="CatalogID" type="xsd:positiveInteger"/>
				</sequence>
			</complexType>
			<complexType name="OrderRequest">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="Catalog" type="impl:ManufacturerCatalog"/>
					<element name="Location" nillable="true" type="impl:RequestLocation"/>
					<element name="MaxLocations" nillable="true" type="xsd:positiveInteger"/>
				</sequence>
			</complexType>
			<complexType name="RequestLocation">
				<sequence>
					<element default="MILES" name="Unit" nillable="true" type="xsd:string"/> <!-- see UnitType -->
					<element name="Radius" nillable="true" type="xsd:positiveInteger"/>
					<element name="PostalCode" nillable="true" type="xsd:string"/>
					<element name="Latitude" nillable="true" type="xsd:double"/>
					<element name="Longitude" nillable="true" type="xsd:double"/>
					<element name="CountryCode" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="UpdateItem">
				<sequence>
					<element name="PartNumber" type="xsd:string"/>
					<element name="UPC" type="xsd:string"/>
					<element name="Quantity" type="xsd:int"/>
					<!-- these next three items are 100% optional, and may be used for LTD calculation -->
					<element name="OrderID" type="xsd:positiveInteger"/> <!-- for a single Order -->
					<element name="OrderItemID" type="xsd:positiveInteger"/> <!-- for a single item in an Order, still globally unique -->
					<element name="ShipmentID" type="xsd:positiveInteger"/> <!-- group of Order Items -->
					<element name="ExternalLocationID" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<complexType name="UpdateRequest">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="FulfillerLocationCatalog" type="impl:FulfillmentLocationCatalog"/>
					<element name="Items" type="impl:ArrayOf_impl_UpdateItem"/>
				</sequence>
			</complexType>
			<complexType name="RefreshItem">
				<sequence>
					<element name="PartNumber" type="xsd:string"/>
					<element name="UPC" type="xsd:string"/>
					<element name="BinID" type="xsd:int"/>
					<element name="Quantity" type="xsd:int"/>
					<element name="LTD" type="xsd:double"/>
					<element name="SafetyStock" type="xsd:int"/>
				</sequence>
			</complexType>
			<complexType name="InventoryRequest">
				<sequence>
					<element name="FulfillerID" type="xsd:positiveInteger"/>
					<element name="Catalog" nillable="false" type="impl:ManufacturerCatalog"/>
					<element name="Quantities" nillable="false" type="impl:ArrayOf_impl_ItemQuantity"/>
					<element name="LocationIDs" nillable="true" type="impl:ArrayOfLocationIDs"/>
					<element name="Location" nillable="true" type="impl:RequestLocation"/>
					<element minOccurs="1" name="Type" nillable="false" type="impl:InventoryRequestType"/>
					<element default="10000" name="Limit" type="xsd:int"/> <!-- limit refers to the maximum amount of responses to send -->
					<element default="false" name="IgnoreSafetyStock" nillable="true" type="xsd:boolean"/>
					<element default="false" name="IncludeNegativeInventory" nillable="true" type="xsd:boolean"/>
					<element name="OrderByLTD" type="boolean"/>
				</sequence>
			</complexType>
			<complexType name="InventoryResponse">
				<sequence>
					<element name="LocationName" type="xsd:string"/>
					<element name="CatalogID" type="xsd:int"/>
					<element name="ManufacturerID" type="xsd:int"/>
					<element name="OnHand" type="xsd:int"/>
					<element name="Available" type="xsd:int"/>
					<element name="PartNumber" type="xsd:string"/>
					<element name="UPC" type="xsd:string"/>
					<element name="LTD" type="xsd:double"/>
					<element name="SafetyStock" type="xsd:int"/>
					<element name="CountryCode" type="xsd:string"/>
					<element name="Distance" type="xsd:double"/>
				</sequence>
			</complexType>
			<simpleType name="InventoryRequestType">
				<annotation>
					<documentation/>
				</annotation>
				<restriction base="xsd:string">
					<enumeration value="ALL"/>
					<enumeration value="PARTIAL"/>
					<enumeration value="ANY"/>
					<enumeration value="ALL_STORES"/>
				</restriction>
			</simpleType>
			<!-- Arrays -->
			<complexType name="ArrayOf_xsd_FulfillerID">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="1" name="items" type="xsd:positiveInteger"/>
				</sequence>
			</complexType>
			<complexType name="ArrayOf_impl_ItemQuantity">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="1" name="items" type="impl:ItemQuantity"/>
				</sequence>
			</complexType>
			<complexType name="ArrayOf_impl_UpdateItem">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="items" type="impl:UpdateItem"/>
				</sequence>
			</complexType>
			<complexType name="ArrayOf_impl_Bin">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="items" type="impl:Bin"/>
				</sequence>
			</complexType>
			<complexType name="ArrayOf_impl_RefreshItem">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="items" type="impl:RefreshItem"/>
				</sequence>
			</complexType>
			<complexType name="ArrayOfLocationIDs">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="ExternalLocationID" type="xsd:string"/>
				</sequence>
			</complexType>
			<!--Inventory intake-->
			<!-- elements -->
			<element name="AdjustRequest">
				<complexType>
					<sequence>
						<element name="FulfillerID" type="xsd:positiveInteger"/>
						<element name="ExternalLocationID" type="xsd:string"/>
						<element name="Items" nillable="true" type="impl:ArrayOf_impl_AdjustItem"/>
					</sequence>
				</complexType>
			</element>
			<element name="AdjustResponse" type="xsd:string"/>
			<element name="RefreshRequest">
				<complexType>
					<sequence>
						<element name="FulfillerID" type="xsd:positiveInteger"/>
						<element name="ExternalLocationID" type="xsd:string"/>
						<element name="Items" nillable="true" type="impl:ArrayOf_impl_RefreshItem"/>
					</sequence>
				</complexType>
			</element>
			<element name="RefreshResponse" type="xsd:string"/>
			<!-- types -->
			<simpleType name="UnitType"> <!-- not used but documents RequestLocation > Unit -->
				<annotation>
					<documentation/>
				</annotation>
				<restriction base="xsd:string">
					<enumeration value="MILES"/>
					<enumeration value="KM"/>
				</restriction>
			</simpleType>
			<complexType name="AdjustItem">
				<sequence>
					<element name="PartNumber" type="xsd:string"/>
					<element name="UPC" type="xsd:string"/>
					<element name="BinID" type="xsd:int"/>
					<element name="Quantity" type="xsd:int"/>
				</sequence>
			</complexType>
			<!-- arrays -->
			<complexType name="ArrayOf_impl_AdjustItem">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="items" type="impl:AdjustItem"/>
				</sequence>
			</complexType>
			<!--Inventory intake complete-->
		</schema>
  </wsdl:types>
  <wsdl:message name="deallocateInventoryResponse">
    <wsdl:part name="parameters" element="impl:deallocateInventoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdjustInventorySoapIn">
    <wsdl:part name="parameter" element="impl:AdjustRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBinTypesRequest">
    <wsdl:part name="parameters" element="impl:getBinTypes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFulfillmentLocationsRequest">
    <wsdl:part name="parameters" element="impl:getFulfillmentLocations">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFulfillmentLocationResponse">
    <wsdl:part name="parameters" element="impl:createFulfillmentLocationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RefreshInventorySoapOut">
    <wsdl:part name="parameter" element="impl:RefreshResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFulfillerResponse">
    <wsdl:part name="parameters" element="impl:createFulfillerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RefreshInventorySoapIn">
    <wsdl:part name="parameters" element="impl:RefreshRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="allocateInventoryRequest">
    <wsdl:part name="parameters" element="impl:allocateInventory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFulfillerStatusRequest">
    <wsdl:part name="parameters" element="impl:getFulfillerStatus">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFulfillerStatusResponse">
    <wsdl:part name="parameters" element="impl:getFulfillerStatusResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFulfillerRequest">
    <wsdl:part name="parameters" element="impl:createFulfiller">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBinStatusesRequest">
    <wsdl:part name="parameters" element="impl:getBinStatuses">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fulfillInventoryRequest">
    <wsdl:part name="parameters" element="impl:fulfillInventory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBinResponse">
    <wsdl:part name="parameters" element="impl:createBinResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFulfillmentLocationsResponse">
    <wsdl:part name="parameters" element="impl:getFulfillmentLocationsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFulfillmentLocationTypesResponse">
    <wsdl:part name="parameters" element="impl:getFulfillmentLocationTypesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="fulfillInventoryResponse">
    <wsdl:part name="parameters" element="impl:fulfillInventoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AdjustInventorySoapOut">
    <wsdl:part name="parameter" element="impl:AdjustResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryRequest">
    <wsdl:part name="parameters" element="impl:getInventory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFulfillmentLocationTypesRequest">
    <wsdl:part name="parameters" element="impl:getFulfillmentLocationTypes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBinsResponse">
    <wsdl:part name="parameters" element="impl:getBinsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createBinRequest">
    <wsdl:part name="parameters" element="impl:createBin">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBinsRequest">
    <wsdl:part name="parameters" element="impl:getBins">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deallocateInventoryRequest">
    <wsdl:part name="parameters" element="impl:deallocateInventory">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBinStatusesResponse">
    <wsdl:part name="parameters" element="impl:getBinStatusesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createFulfillmentLocationRequest">
    <wsdl:part name="parameters" element="impl:createFulfillmentLocation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="allocateInventoryResponse">
    <wsdl:part name="parameters" element="impl:allocateInventoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInventoryResponse">
    <wsdl:part name="parameters" element="impl:getInventoryResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBinTypesResponse">
    <wsdl:part name="parameters" element="impl:getBinTypesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CoreService">
    <wsdl:operation name="createFulfiller">
<wsdl:documentation>Request to create a single fulfiller which will later contain one or more locations</wsdl:documentation>
      <wsdl:input name="createFulfillerRequest" message="impl:createFulfillerRequest">
    </wsdl:input>
      <wsdl:output name="createFulfillerResponse" message="impl:createFulfillerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFulfillerStatus">
<wsdl:documentation>Data retrieval to check a fulfiller's status</wsdl:documentation>
      <wsdl:input name="getFulfillerStatusRequest" message="impl:getFulfillerStatusRequest">
    </wsdl:input>
      <wsdl:output name="getFulfillerStatusResponse" message="impl:getFulfillerStatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createFulfillmentLocation">
      <wsdl:input name="createFulfillmentLocationRequest" message="impl:createFulfillmentLocationRequest">
    </wsdl:input>
      <wsdl:output name="createFulfillmentLocationResponse" message="impl:createFulfillmentLocationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFulfillmentLocations">
      <wsdl:input name="getFulfillmentLocationsRequest" message="impl:getFulfillmentLocationsRequest">
    </wsdl:input>
      <wsdl:output name="getFulfillmentLocationsResponse" message="impl:getFulfillmentLocationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFulfillmentLocationTypes">
      <wsdl:input name="getFulfillmentLocationTypesRequest" message="impl:getFulfillmentLocationTypesRequest">
    </wsdl:input>
      <wsdl:output name="getFulfillmentLocationTypesResponse" message="impl:getFulfillmentLocationTypesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allocateInventory">
      <wsdl:input name="allocateInventoryRequest" message="impl:allocateInventoryRequest">
    </wsdl:input>
      <wsdl:output name="allocateInventoryResponse" message="impl:allocateInventoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deallocateInventory">
      <wsdl:input name="deallocateInventoryRequest" message="impl:deallocateInventoryRequest">
    </wsdl:input>
      <wsdl:output name="deallocateInventoryResponse" message="impl:deallocateInventoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fulfillInventory">
      <wsdl:input name="fulfillInventoryRequest" message="impl:fulfillInventoryRequest">
    </wsdl:input>
      <wsdl:output name="fulfillInventoryResponse" message="impl:fulfillInventoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBin">
      <wsdl:input name="createBinRequest" message="impl:createBinRequest">
    </wsdl:input>
      <wsdl:output name="createBinResponse" message="impl:createBinResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBins">
      <wsdl:input name="getBinsRequest" message="impl:getBinsRequest">
    </wsdl:input>
      <wsdl:output name="getBinsResponse" message="impl:getBinsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBinTypes">
      <wsdl:input name="getBinTypesRequest" message="impl:getBinTypesRequest">
    </wsdl:input>
      <wsdl:output name="getBinTypesResponse" message="impl:getBinTypesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBinStatuses">
      <wsdl:input name="getBinStatusesRequest" message="impl:getBinStatusesRequest">
    </wsdl:input>
      <wsdl:output name="getBinStatusesResponse" message="impl:getBinStatusesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInventory">
      <wsdl:input name="getInventoryRequest" message="impl:getInventoryRequest">
    </wsdl:input>
      <wsdl:output name="getInventoryResponse" message="impl:getInventoryResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustInventory">
      <wsdl:input message="impl:AdjustInventorySoapIn">
    </wsdl:input>
      <wsdl:output message="impl:AdjustInventorySoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshInventory">
      <wsdl:input name="refreshInventoryRequest2" message="impl:RefreshInventorySoapIn">
    </wsdl:input>
      <wsdl:output name="refreshInventoryResponse2" message="impl:RefreshInventorySoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CoreServiceSoapBinding" type="impl:CoreService">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createFulfiller">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createFulfillerRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createFulfillerResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFulfillerStatus">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getFulfillerStatusRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFulfillerStatusResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createFulfillmentLocation">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createFulfillmentLocationRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createFulfillmentLocationResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFulfillmentLocations">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getFulfillmentLocationsRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFulfillmentLocationsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFulfillmentLocationTypes">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getFulfillmentLocationTypesRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFulfillmentLocationTypesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="allocateInventory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="allocateInventoryRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="allocateInventoryResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deallocateInventory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="deallocateInventoryRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="deallocateInventoryResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="fulfillInventory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="fulfillInventoryRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="fulfillInventoryResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createBin">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="createBinRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="createBinResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBins">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBinsRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBinsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBinTypes">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBinTypesRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBinTypesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBinStatuses">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getBinStatusesRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBinStatusesResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInventory">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="getInventoryRequest">
        <wsdlsoap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInventoryResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adjustInventory">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="refreshInventory">
      <wsdlsoap:operation/>
      <wsdl:input name="refreshInventoryRequest2">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="refreshInventoryResponse2">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CoreServiceService">
    <wsdl:port name="CoreService" binding="impl:CoreServiceSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/cpe366Test/services/CoreServiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
